body {
    width: 100%;
}
.grey-head{
    background-color: grey;
    height: 45px;
    width: 100%;
    /* margin: 0; */
    display: flex;
    justify-content: space-between;
    /* padding: 0 100px 0 10px; */
   
}
.logo{
    width: 200px;
    font-size: 25px;
    color: white;
    display:flex;
    justify-content: flex-start;
    align-items: center;
    margin: 0 0 0 30px;
}
.menu {
    width: 150px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 50px 0 0;


}

.menu-items {
    color:white;
    font-size: 14px;
}

.more-you-know-container {
    background-color: black;
    height: 250px;
    color: rgb(240, 240, 94);
    font-size: 50px;
    display:flex;
    justify-content: center;
    align-items: center;
}

.blue-square-holder {
    background-color:white;
    height: 220px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.blue-square {
    background-color: rgb(160, 243, 222);
    width: 160px;
    height: 160px;
    border-radius: 15px;
}
.orange-box-holder {
    height: 220px;
    display: flex;
    justify-content: space-around;
    align-content: center;
}
.orange-box {
    background-color: rgb(233, 191, 114);
    width: 300px;
    height:160px;

}
.text-and-photo-holder{
    height: 200px;
    display: flex;
    justify-content: space-around;
}

.text-box {
    width: 275px;
    height: 130px;
    font-size: 10px;
}
.photo-box {
    width: 128px;
    height: 96px;
}

.grey-bar {
    height: 100px;
    background-color: rgb(49, 43, 66);
}